@charset "UTF-8";

$small-screen: (media: 576px) !default;
$medium-screen: (media: 768px) !default;
$large-screen: (media: 992px) !default;
$xlarge-screen: (media: 1200px) !default;

$sm: $small-screen;
$md: $medium-screen;
$lg: $large-screen;
$xl: $xlarge-screen;

$just-grid: (columns: 12, gap: 1rem) !default;
